@charset "UTF-8";
/* CSS Document */


/* --------------------------------------------------------------------------------------------------------- */

html {height: 100%;} 

body {height: 100%;}

#wrap {min-height: 100%;background:none;
  margin: 0 auto 0 auto;
  width:1034px;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */





body {
background:url(../images/bg.jpg) repeat-x;
margin:0;
padding:0;
}





div#content{
  width:900px;
  margin: 0px 35px 25px 60px;
}


div#header{
  padding:0;
  margin:0px 0px 0px 30px;
  width:974px;
  height:150px;
  background-image:url(../images/g_link_header.jpg);
}

div#header_title{
   position:absolute;
  margin:150px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  width:974px;
  height:40px;

}

.headerlink_logo {
  width:125px;
  height:100px;
  margin:10px 0 0 18px;
  position:absolute;
  color:#666;
}

.headerlink_home {
  display:block;
  width:400px;
  height:15px;
  margin:8px 0 0 75px;
  position:absolute;
  color:#666;
  z-index:999;
}

.headerlink_home2 {
  display:block;
  width:500px;
  height:30px;
  margin:20px 0 0 85px;
  position:absolute;
  color:#666;
}


/* type */
p{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#666;
  text-align:justify;
  line-height:15px;
  padding:10px 3px 0 3px;
  margin:0;
}

h1{
}

h2{
}

a {
  color:#2a3faa;
  text-decoration:none;
}

a:hover {
  color: red;
}

a.img {
  text-decoration:none;
  color:#212161;
}


.img_divider {
  text-decoration:none;
  color:#212161;
}

a.img:hover {
  text-decoration:none;
  color:#212161;
}


.main_title{
  font-family:Arial,sans-serif;
  font-size:16px;
  color:#333;
  padding:20px 0px 5px 0px;	
}


.main_text{
  font-family:Arial,sans-serif;
  font-size:12px;
  color:#666;
  padding:5px 0px 0px 0px;
  margin-bottom:10px;
  text-align:justify;
}

.title{
  font-family:Arial,sans-serif;
  font-size:18px;
  color:#EEE;
  padding:14px 0px 5px 30px;	
}

/* navigation */

#navcontainer { 
  margin:0px 0px 0px 0px;
  width: 265px; 
}

/*.navspacer{
margin-right:30px;
}
*/
#navlist {
	width:100%;
  height:25px;
  margin:0px 0px 10px 0px;
  padding-left:0px;
  background-image:;
  background-repeat:no-repeat;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding-bottom: 3px;
  padding-top:0px;
  float:left;
}

#navlist a, #navlist a:link, #navlist a:visited {
  padding-top:10px;
  padding-left:15px;
  padding-right:15px;
  color: #000000;
  font-size:12px;
  text-decoration: none;
  color:#555;
  height:30px;
  display:inline-block;
}

#navlist a:hover{
  text-decoration: none;
  color: red;
}

#navlist a.active{
	background:url(../images/active_bg.jpg) no-repeat;
	background-position:center top;
  text-decoration: none;
  color:#000;
}

#navlist a.active:hover{
	color: red;
}

/* TABLE */
span.dataTablePanel table {
  font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 620px;
  line-height:15px;
  margin-top:30px;
}

span.dataTablePanel th {
  padding: 3px 3px 3px 3px;
  text-align: left;
  color:#444;
}

span.dataTablePanel td {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 7px 5px 7px 9px;
}

span.dataTablePanel td:first-child {
  width: 600px;
}

span.dataTablePanel td.column_one {
  width: 150px;
}
	
span.dataTablePanel td.column_two {
  width: 250px;
}

span.dataTablePanel td+td {
  border-left:;
  text-align: left;
}

span.dataTablePanel td.postdoc{
  width: 550px;
}


*/
/* footer */
div#footer{
	position: relative;
	margin: -125px auto 0px auto; /* negative value of footer height */
	height: 150px;
	clear:both;
  background:url(../images/footer_bg.jpg) repeat-x;
  }
  
div#footer_container{
 width:1034px;
 margin:0px auto 0px auto;
}

div#footer_links{
	position:absolute;
  width:430px;
  height:40px;
  margin:10px 0 0 20px;
}

.footer_text{
  font-size:10px;
  text-align:right;
  padding:5px 10px 0 3px;
  float:right;
}

a.footer{
  font-size:10px;
  color:#fff;
}

a.footer:hover {
  font-size:10px;
  color:#fff;
  text-decoration:underline;
}

.footer_spacer{
  padding-top:6px;
  padding-right:10px;
  float:right;
}

.copyright{
  padding-top:1px;
  padding-right:10px;
  float:left;
  font-size:10px;
  font-weight:bold;
  color:#fff;
  margin:0;
}

/* RoSa Additions */

#main {
	width:700px;
	margin: 10px;
	display: inline;
}
#sidebar {
	float: right;
	display: inline;
	width: 100px;
}



